.table-header {
    margin-top: 30px;
    margin-bottom: 12px;
}

.table-header div {
    padding: 0;
}

.table-heading h2 {
    margin: 0;
    font-weight: 700;
    line-height: 1;
}

.table-controls {
    padding-bottom: 10px;
}

.table-controls button {
    float: right;
    margin: 0 0 0 5px;
    box-shadow: none;
}

.table-options {
    background-color: #333;
    color: #fff;
    height: 50px;
    padding: 10px 0;
}

.table-filter .sub-nav {
    margin-bottom: 0;
    line-height: 31px;
} 

.table-filter .sub-nav dt {
    text-transform: capitalize;
    color: #fff;
}

.table-filter .sub-nav dd {
    margin-left: 7px;
}

.table-filter .sub-nav dd a {
    border-radius: 0;
    padding: 0;
}

.table-filter .sub-nav dd.active a {
    padding: 2px 7px;
}

.table-search input {
    margin-bottom: 0;
    padding: 7px;
    height: 2.25em;
    float: right;
    width: 220px;
}

.table-container {
    width: 100%;
    height: 388px;
    position: relative;
    padding-top: 40px;
}

.table-header-background {
    background-color: #eee;
    height: 40px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.table-container table {
    border: none;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.table-container th {
    padding-top: 0;
    padding-bottom: 0;
}

.table-container .th-inner {
    position: absolute;
    top: 0;
    line-height: 40px;
}

.table-container .sortable .th-inner {
    cursor: pointer;
}

.table-container .th-inner i {
    padding-left: 7px;
}

.table-container table tr {
    border-bottom: 1px solid #eee;
}

.table-container table tr:nth-child(2n) {
    background-color: #fafafa;
}

.table-container table td {
    font-size: 0.875em;
    padding: 7px 8px;
}

.item-description, .item-description dd {
    margin-bottom: 0;
    font-size: 1em;
}
.item-description .item-value { font-size: 0.875em; }
.item-description .item-value span { color: #888; }

#items td:nth-child(3) a:hover { text-decoration: underline; }

.label.not-started { background-color: #ee8036 }
.label.in-progress { background-color: #008cba; }
.label.complete { background-color: #43ac6a; }
.label.urgent { background-color: #f04124; }
