<!doctype html>
<html lang="en" ng-app="ScavHQ">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScavHQ</title>

    <link rel="stylesheet" href="../static/css/foundation.min.css">
    <link rel="stylesheet" href="../static/css/app.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="../static/js/lib/mm-foundation-0.1.0.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/controllers.js"></script>
</head>
<body>
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name"><h1><a href="#">ScavHQ</a></h1></li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li><a href="#">Settings</a></li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
                <li class="active"><a href="#">Items</a></li>
                <li><a href="#">People</a></li>
            </ul>
        </section>
    </nav>
    <div id="items" class="row">
        <div class="large-12 columns" ng-controller="ItemsCtrl">
            <h2>Item List</h2>

            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>P</th>
                        <th>Text</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items|orderBy:'num'">
                        <td>{{item.num}}</td>
                        <td>{{item.page}}</td>
                        <td>{{item.text}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
