<!doctype html>
<html lang="en" ng-app="ScavHQ">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScavHQ</title>

    <link rel="stylesheet" href="../static/css/foundation.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/app.css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/controllers.js"></script>
</head>
<body>
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name"><h1><a href="#">ScavHQ</a></h1></li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right" ng-controller="NavCtrl">
                <li ng-repeat="link in navLinks" ng-class="navClass('{{link}}')">
                    <a href="#/{{link}}">{{link | titleize}}</a>
                </li>
                <li><a href="#"><i class="fa fa-cog"></i></a></li>
            </ul>
        </section>
    </nav>
    <div id="items" class="row" ng-view></div>
</body>
</html>
